<h2><%= @user.username %>'s Cars</h2>
<h3>To view a car, click on it's name!</h3>
<br>
<% @cars.each do |car| %>
  <h4><a href="/cars/<%= car.id %>">#<%= car.id %> <%= "#{car.year} #{car.make} #{car.model}" %></a></h4>
  <% if !car.garage_id %>
    <h5>This car is currently not in a garage</h5>
  <% else %>
    <h5>Current Garage: <a href="/garages/<%= car.garage_id %>"><%= Garage.find(car.garage_id).name %></a></h5>
  <% end %>
  <br>
<% end %>
<h3>Click <a href='/cars/new'>HERE</a> to create a new car</h3>
