<h2>Create a new Car!</h2>
<br>
<form action="/cars" method="POST">
  <label for="year">Year: </label>
  <input id="year" type="text" name="year"><br>
  <label for="make">Make: </label>
  <input id="make" type="text" name="make"><br>
  <label for="model">Model: </label>
  <input id="model" type="text" name="model"><br>
  <label for="price">Price: </label>
  <input id="price" type="text" name="price"><br>
  <label for="license_plate">License Plate: </label>
  <input id="license_plate" type="text" name="license_plate"><br>
<br><p>Select a type of car: </p>
<% @type.each do |type| %>
  <input id="<%= type %>" type="radio" name="type" value="<%= type %>"><%= type %></input><br>
<% end %>
<br>
<p>Please select a garage for this car: </p>
<% @garages.each do |garage| %>
  <% if garage.capacity > garage.cars.length %>
    <input id="<%= garage.id %>" type="radio" name="garage" value="<%= garage.id %>"></input><br>
  <% end %>
<% end %>


  <input id="submit" type="submit" value="Create Car">
</form>
